img/*
!/img/book.png
!/img/book_red.png
!/img/coins.png
!/img/customer.png
!/img/lib_image.PNG
!/img/lib-record.png
!/img/logo.png
!/img/logout.png
!/img/members.png
!/img/numbers.png
!/img/stats.png
!/img/user.png
